/* *********************************** */


/* *** Estilos SOLO para index.html *** */


/* *********************************** */


/* HEADER (Aquí colocamos título y banner */

.header__banner {
    margin: 0px;
    padding: 0px;
    position: relative;
}

.title {
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 5rem;
}

.header__nav {
    position: absolute;
    top: 45%;
    left: 20%;
    font-size: 2rem;
}


/* MAIN (La lista de las películas) */

.main {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    gap: 0px 0px;
    grid-template-areas: ". main .";
}

.main__background {
    height: 100%;
    margin: 0px;
    padding: 40px;
    grid-area: main;
    background-color: var(--color-white);
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". movie01 ." ". movie02 ." ". movie03 ." ". movie04 ." ". movie05 .";
}

.background__movie01,
.background__movie02,
.background__movie03,
.background__movie04,
.background__movie05 {
    grid-area: movie01;
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 50px 1.8fr;
    gap: 40px 20px;
    grid-template-areas: "num ." "img text";
}

.background__movie02 {
    grid-area: movie02;
}

.background__movie03 {
    grid-area: movie03;
}

.background__movie04 {
    grid-area: movie04;
}

.background__movie05 {
    grid-area: movie05;
}

.movie01__img,
.movie02__img,
.movie03__img,
.movie04__img,
.movie05__img {
    height: 600px;
    width: 450px;
    grid-area: img;
}

.background__review01,
.background__review02,
.background__review03,
.background__review04,
.background__review05 {
    grid-area: text;
}

h3 {
    grid-area: num;
    ;
}