/* *********************************** */


/* *** ESTILOS GENERALES *** */


/* *********************************** */


/* Tipografía */

@font-face {
    font-family: "";
    src: url("") format("woff2"), url("") format("woff");
}

html {
    padding: 0px;
    margin: 0px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: rgb(221, 219, 219);
}


/* ******************************** */


/* Colores */


/* ******************************** */

:root {
    --color-01: rgb(242, 234, 200);
    --color-black: rgb(31, 31, 31);
    --color-white: rgb(233, 233, 233);
}


/* ESTRUCTURA */

.container {
    display: grid;
    grid-template-columns: 10% minmax(1200px, 1920px) 10%;
    /* Cuando ponemos auto dentro de grid-template significa que ese bloque que creamos se encoge o agranda según el contenido que le pongamos dentro de él. */
    grid-template-rows: 400px auto 120px;
}

.header {
    width: 100vw;
    color: var(--color-01);
    margin: 0;
    padding: 0;
}